{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "indent": ["warn", 2],
    "no-unused-vars": ["off", { "vars": "local" }],
    "prefer-const": "warn",
    "quotes": ["warn", "single"],
    "semi": ["warn", "always"],
    "space-infix-ops": "warn"
  }
}